/* AboutMePage.css */

.container {
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* background-color: #f8f8f8; */
  }
  
  .heading {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .paragraph {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
  }
  
  .library-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  /* AboutMePage.css */

.tourism-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
